<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/wnumb@1.1.0"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script type="text/javascript">
        $(document).ready(function () {
            $(document).on("**action**", '**to_id**', function () {
                $ ** to_id ** = $(this).attr('id')
                $.ajax({
                    type: "POST",
                    data: { action: "**thing**", id: $ ** to_id **},
                    success: function (data) {
                        $("**new_id**").html("**html to add**");
                    }
                });
            });
        });

    </script> -->
    <style>
        .plans-max-width {
            max-width: 900px;
            margin: auto;
        }
    </style>
    {% load static %}
    <!-- In <head> -->
    <link href="{% static 'hermes/nouislider.min.css' %}" rel="stylesheet">

</head>

<body>
    <!-- In <body> -->
    <script src="{% static 'hermes/nouislider.min.js' %}"></script>


    <!-- Always shows a header, even in smaller screens. -->
    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <a href="{% url 'get_plan' %}">get plan</a>
                <span class="mdl-layout-title">Title</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid plans-max-width">

                    {% block content %} {% endblock %} {% block javascript %}
                    <script type="text/javascript">
                        //Define menu variables
                        var slider_age = document.getElementById('age');
                        var slider_height = document.getElementById('height');
                        var slider_starting_w = document.getElementById('starting_w');
                        var slider_ending_w = document.getElementById('ending_w');
                        var slider_calories = document.getElementById('calories');
                        var slider_protein = document.getElementById('protein');
                        var slider_period = document.getElementById('period');
                        
                        //Create sliders
                        noUiSlider.create(slider_age, {
                            start: [20, 80],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'horizontal', // 'horizontal' or 'vertical'
                            range: {
                                'min': 0,
                                'max': 100
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_height, {
                            start: [20, 80],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'horizontal', // 'horizontal' or 'vertical'
                            range: {
                                'min': 0,
                                'max': 100
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_starting_w, {
                            start: [100, 600],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'vertical', // 'horizontal' or 'vertical'
                            range: {
                                'min': 50,
                                'max': 600
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_ending_w, {
                            start: [100, 600],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'vertical', // 'horizontal' or 'vertical'
                            range: {
                                'min': 50,
                                'max': 600
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_calories, {
                            start: [500, 4000],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'horizontal', // 'horizontal' or 'vertical'
                            range: {
                                'min': 500,
                                'max': 4000
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_protein, {
                            start: [25, 450],
                            tooltips: [true, true],
                            connect: true,
                            step: 1,
                            orientation: 'horizontal', // 'horizontal' or 'vertical'
                            range: {
                                'min': 25,
                                'max': 450
                            },
                            format: wNumb({
                                decimals: 0
                            })
                        });
                        noUiSlider.create(slider_period, {
                            start: [0, 20],
                            tooltips: [true, true],
                            connect: true,
                            step: .25,
                            orientation: 'horizontal', // 'horizontal' or 'vertical'
                            range: {
                                'min': 0,
                                'max': 20
                            },
                            format: wNumb({
                                decimals: 2
                            })
                        });

                        slider_age.noUiSlider.on('change', function(){
                            var age = slider_age.noUiSlider.get();
                            var height = slider_height.noUiSlider.get();
                            var starting_weight = slider_starting_w.noUiSlider.get();
                            var ending_weight = slider_ending_w.noUiSlider.get();
                            var calories = slider_calories.noUiSlider.get();
                            var protein = slider_protein.noUiSlider.get();
                            var period = slider_period.noUiSlider.get();
                            console.log(age, height, starting_weight, ending_weight, calories, protein, period);
                            
                            $.ajax({
                                type: "GET",
                                url: "/get/",
                                data: {
                                    'age_s': age[0],
                                    'age_e': age[1],
                                    'height_s': height[0],
                                    'height_e': height[1],
                                    'starting_weight_s': starting_weight[0],
                                    'starting_weight_e': starting_weight[1],
                                    'ending_weight_s': ending_weight[0],
                                    'ending_weight_e': ending_weight[1],
                                    'calories_s': calories[0],
                                    'calories_e': calories[1],
                                    'protein_s': protein[0],
                                    'protein_e': protein[1],
                                    'period_s': period[0],
                                    'period_e': period[1],
                                },
                                dataType: 'json',
                                success: function(data) {
                                    console.log(data)
                                },
                                error: function(response, error){
                                    alert(error);
                                }

                            });

                        });
                        slider_height
                        slider_starting_w
                        slider_ending_w
                        slider_calories
                        slider_protein
                        slider_period
                    </script>

                    <!-- <script type="text/javascript">
                        
                        
                        slider.noUiSlider.on('change', function () {
                            var periodValues = slider.noUiSlider.get();
                            var minPeriod = periodValues[0];
                            var maxPeriod = periodValues[1];
                            $.ajax({
                                type: "GET",
                                data: {
                                    minperiodfilter: minPeriod,
                                    maxperiodfilter: maxPeriod
                                },
                                success: function(data){
                                    console.log(data)

                                } 
                            });

                        });
                    </script> --> {% endblock %}
                </div>


                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js"></script>
            </div>
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer__middle-section">
                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Features</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Terms</a>
                            </li>
                            <li>
                                <a href="#">Partners</a>
                            </li>
                            <li>
                                <a href="#">Updates</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Details</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li>
                                <a href="#">Specs</a>
                            </li>
                            <li>
                                <a href="#">Tools</a>
                            </li>
                            <li>
                                <a href="#">Resources</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">Technology</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li>
                                <a href="#">How it works</a>
                            </li>
                            <li>
                                <a href="#">Patterns</a>
                            </li>
                            <li>
                                <a href="#">Usage</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">Contracts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading">FAQ</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li>
                                <a href="#">Questions</a>
                            </li>
                            <li>
                                <a href="#">Answers</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-mega-footer__bottom-section">
                    <div class="mdl-logo">Title</div>
                    <ul class="mdl-mega-footer__link-list">
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Privacy & Terms</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
</body>

</html>